
h1{
    color: #000000;
    border:solid;
    padding-left:30px;
}
/*
*{
    border:solid
}
*/
.header{
    background-color: rgb(248, 130, 34);
    display: flex;
    justify-content: space-between;
    border:solid;
}

p,h2{
    text-align: center;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.33;
}
.footer{
    display: flex;
    justify-content: flex-end;
}

body{
    background-color: rgb(155, 10, 212);
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}
.menu{
    font-size: large;
    margin-right: 30px;
    margin-top: 25px;
}
.menu a{
    margin-left: 15px;
}
a:link{
    color:white
}
a:visited{
    color:white
}